/*French 2.1.23*/

body {
    background-color:rgb(255,240,240);
}

birthday-message {
    z-index:2;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;

    padding-top:10vh;

    color:rgb(20, 20, 255);
    text-align: center;
    display: block;
}

.birthday_cake {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50vw;
}

#button1 {
    display:block;
    font-family: 'Quicksand', sans-serif;
    border-style:none;
    background-color: rgba(255, 200, 200, 0.0);
}
